<footer>
  <ul class="flex justify-center gap-x-4 my-8">
    <a
      href="https://www.instagram.com/robokids.csn?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      target="_blank"
    >
      <img src="Instagram.svg" alt="Instagram" class="h-8 w-8" />
    </a>
    <a href="https://www.facebook.com/robokids.csn" target="_blank">
      <img src="Facebook.svg" alt="Facebook" class="h-8 w-8" />
    </a>
  </ul>
</footer>
