---

---

<header
  class="relative left-0 top-0 flex w-full flex-col items-center py-5 bg-white"
  id="header"
>
  <nav class="flex items-center w-[95%]">
    <div>
      <img
        src="LogoRobokids.png"
        alt="LOGO"
        class="flex justify-start h-14 w-18"
      />
    </div>

    <ul class="lg:flex gap-x-10 ml-auto">
      <a href="#" class="navbar">Acerca de nosotros</a>
      <a href="#" class="navbar">Eventos</a>
      <a href="#" class="navbar">Blogs</a>
      <a href="#" class="navbar">¡Contactanos!</a>
    </ul>
  </nav>
</header>

<style>
  .navbar {
    @apply transition hover:text-green-800 text-xl;
  }
</style>
