---
import LayoutPage from "@/layouts/LayoutPage.astro";
---

<LayoutPage>
  <div class="w-full">
    <div class="bg-[url('/AboutUs.png')] bg-cover bg-center">
      <div class="bg-blue-500/40 dark:bg-blue-950/70 w-[100%]">
        <div class="py-32 text-center">
          <h1 class="text-white text-7xl drop-shadow-2xl">Acerca de nosotros</h1>
        </div>
      </div>
    </div>
  </div>


  <section class="pt-48">

    hola
  </section>


</LayoutPage>
