<!-- <section class="mb-32 mt-40">
  <div class="flex flex-row">
    <div id="info" class="flex basis-2/5 justify-center items-center">
      <h1 class="text-center text-5xl mb-4">¡Hola!</h1>
      <p class="text-center">
        Te damos la bienvenida a la página oficial de Robokids CSN. ¡Aquí
        encontrarás información acerca de nosotros, noticias, eventos y mucho
        más!
      </p>
    </div>

    <div class="basis-3/5">
      <img src="robot.png" alt="Robot" class="object-contain w-full h-full" />
    </div>
  </div>
</section> -->
<section class="mb-32 mt-40">
  <div class="flex">
    <div id="info" class="flex flex-col justify-center items-center basis-2/5">
      <h1 class="text-center text-6xl mb-4">¡Hola!</h1>
      <p class="text-center text-2xl px-24">
        Te damos la bienvenida a la página oficial de Robokids CSN. ¡Aquí
        encontrarás información acerca de nosotros, noticias, eventos y mucho
        más!
      </p>
    </div>

    <div class="basis-3/5">
      <img src="robot.png" alt="Robot" class="object-contain w-full h-full" />
    </div>
  </div>
</div>

<style>
  #info {
    background-color: rgb(255, 245, 55);
  }
</style>
